// Colors
$blue: #0098e6;
$purple: #ff63a3;
$green: #52b837;
$yellow: #ffbf00;
$red: #ff362b;

$facebook: #3b5998;
$twitter: #59adeb;
$instagram: #a87958;
$pinterest: #cb2027;
$vimeo: #1daeec;
$linkedin: #008cc9;

// Fonts
$fira: "Fira Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$roboto: "Roboto Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
